
@import 'bootstrap/dist/css/bootstrap.min.css';


.container-flat{
    background-color:#c740c0;
}

.btn-flat{
    background-color:#6071AD;
}


.datepicker{
    height: 38px;
    border-radius:5px;
}



